table {
  width: 100%;
}
table,
tr,
td,
th {
  border: 1px dotted;
  border-collapse: collapse;
  border-color: rgb(137, 136, 138);
  color: rgb(143, 93, 222);
}
caption {
  color: rgb(72, 5, 128);
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: blueviolet;
}

a:hover {
  text-decoration: underline;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: purple;
}
